<div class="container">
	<div class="row">
		<div *ngFor="#todo of todos"><todo-item [todo]="todo"></todo-item></div>
		<hr/>
	</div>
	<div class="row">
		<form class="form-inline">
		  <div class="form-group">
		    <div class="input-group">
		      <input type="text" class="form-control" [(ngModel)]="todo" placeholder="What needs to be done...">
		    </div>
		  </div>
		  <button (click)="addTodo(todo)" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
		</form>
	</div>
</div>
